===================================================================
Non Graded Challenge - 5 

Name : Faris Arief Mawardi

Batch : HCK 009

This program was made to generate 2 tables based on customers and orders datas which will generate 1 new table to obtain information regarding total orders of the customers.

===================================================================

Task Objective :

This Non Graded Challenge was created to evaluate the concept of Data Wrangling in SQL  with the aim of:

1.Able to perform Data Definition Language (DDL) to create a table based on the information obtained.

2.Able to use the SELECT, FROM, JOIN and GROUP BY keywords to get data from a certain column.3

Task :

1. create a customer and order table as follows "Customers" and "Orders". Determine the right datatype to create the two tables. Here are the structures and data for both tables.

2. Once you have successfully created both tables, create a query to retrieve the total number of orders made by each customer along with the customer name from the "Customers" and "Orders" tables.

In [ ]:
create table customers (
customer_id int primary key,
customer_name varchar NOT NULL,
city varchar);

# (generating a new table named customers)


create table orders (
order_id serial primary key,
customer_id int,
order_date date,
total_amount numeric (6,2),
constraint fk_customer_id
FOREIGN KEY(customer_id)
references customers (customer_id) )

# (generating a new table named orders with a foreign key of customer_id obtained from table "customers" in customer_id column )

INSERT INTO customers (customer_id, customer_name, city)
values 
(1, 'John Doe', 'New York'),
(2, 'Jane Smith', 'Los Angeles'),
(3, 'David Johnson', 'Chicago');

#input data to "customers" table

INSERT INTO orders (order_id, customer_id, order_date, total_amount)
VALUES 
(1, 1, '2022/01/10', 100.00),
(2, 1, '2022/02/15', 150.00),
(3, 2, '2022/03/20', 200.00),
(4, 3, '2022/04/25', 50.00);

#input data to "orders" table

select customer_name, count(order_id) as total_orders from customers c
left join orders o on c.customer_id = o.customer_id
group  by c.customer_name
order by c.customer_name desc
#joining datas consists of customer name from table "customers" and generating new column named "total orders" which was obtained by count the order id from table "orders"